.button {
     width: 144px;
     height:72px;
  background-color: #000000;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Aqua Grotesque';
  font-size : 1.5rem;
  font-weight: 100;
   display: inline;
  }
.footer {
position: fixed;
bottom: 0;
height:2.5rem;


}
.footerWords{
font-size:small;
font-family: 'Aqua Grotesque' ;
     color: white;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}



.haley{
     font-size:1.5rem;
     font-family: 'Aqua Grotesque' ;
     color: white;
}

.background{
     background-color: darkgray;
     height:100%;
     background-image: none;
}

.space{
     padding: 10px;
     display:flex;
     font-size: large;
     font-family: 'Aqua Grotesque' ;
     text-decoration: none;

}

a:visited, a:hover, a:focus {
    text-decoration: none;
    color: #000;
}