.button {
     width: 144px;
     height:72px;
  background-color: #000000;
  border-radius: 10px;
  color:#ccc;
  cursor: pointer;
  font-family: 'Aqua Grotesque';
  font-size : 1.5rem;
  font-weight: 100;
   display: inline;
   margin-bottom: 50px;
   margin-top: 50px;
  }
.footer {
position: fixed;
bottom: 0;
height:2.5rem;
}
.xtreme{
height:50px;
width:100px;

}
.footerWords{
font-size:medium;
font-family: 'Lato' ;
     color: #ccc;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}



.haley{
     font-size:1.5rem;
     font-family: 'Aqua Grotesque' ;
     color:#ccc;
}

.background{
     
     
     background-color:white ;
  
}

.space{
     padding: 10px;
     display:flex;
     font-size: large;
     font-family: 'Lato' ;
     text-decoration: none;

}

.bg-dark {
    background-color:#000000!important;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


.img2 {
  width: 12rem;
  height: 6rem;
    cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.navbar-dark .navbar-nav .nav-link .navbar-brand{
  color:#ccc;
}
 .navbar-custom {
            padding: 1rem 0; /* Increase the vertical padding to make the navbar taller */
        }
        
        .navbar-nav .nav-link {
            padding: 0.5rem 1rem; /* Adjust the padding for each nav item for better spacing and appearance */
        }

        /* If you want to increase the logo size, you'll need to add custom styles */
        .navbar-brand {
            font-size: 1.5rem; /* Adjust the font size as needed */
            padding: 0.25rem 0; /* Adjust the padding to align the logo vertically within the navbar */
        }

        /* For the Instagram icon */
        .navbar .bi-instagram {
            font-size: 2rem; /* Adjust the size of the Instagram icon */
            padding: 0 1rem; /* Add some padding to the right */
        }
        .call-us {
    background-color:rgb(255, 127, 217); 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.call-us:hover {
    background-color:green !important;
}