<div class="background">
     <nav class="navbar  navbar-expand-lg navbar-dark bg-dark" style="background-color: black">
          <a class="navbar-brand haley" href="#">Haley Rane Beauty Studio</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                         <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="#">About Me</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="#">Lash Gallery</a>
                    </li>
               </ul>
          </div>
     </nav>

     <div style="display: flex; justify-content: center">
          <button class="button" (click)="goToSquarespace()">Book Now</button>
     </div>

     <div class="container-fluid">
          <div class="row">
               <div class="col-sm">
                    <div class="picture-container">
                         <img src="assets\Images\lashpictures\IMG_4462.jpg" alt="Image 1" />
                    </div>
                    <div class="picture-container">
                         <img src="assets\Images\lashpictures\IMG_4460.jpg" alt="Image 2" />
                    </div>
               </div>
               <div class="col-sm">
                    <div class="picture-container">
                         <img src="assets\Images\lashpictures\IMG_4454.jpg" alt="Image 3" />
                    </div>
                    <div class="picture-container">
                         <img src="assets\Images\lashpictures\IMG_4461.jpg" alt="Image 4" />
                    </div>
               </div>
               <div class="col-sm">
                    <div class="picture-container">
                         <img src="assets\Images\lashpictures\IMG_4455.jpg" alt="Image 5" />
                    </div>
                    <div class="picture-container">
                         <img src="assets\Images\lashpictures\IMG_4457.jpg" alt="Image 6" />
                    </div>
               </div>
          </div>
     </div>
     <mat-toolbar class="footer" style="display: flex; justify-content: center; background-color: black"><span
               class="footerWords">2023 Haley Rane Beauty Studio | All Rights Reserved.</span></mat-toolbar>
     </div>